:root {
    --cor1: #397a2d;
    --cor2: #feaa1a;
    --cor3: #fccc42;
    --cor4: #b36a26;
    --cor5: #c73527;
    --fonte-padrao: ;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgba(212, 212, 212, 0.616);
    display: flex;
    flex-direction: column;
}

main {
    background-color: white;
    width: 70vw;
    min-height: 100vh;
    margin: auto;
    padding: 20px;
}

.ativo {
    display: block;
}

.card-main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0);
}

menu {
    background-color: var(--cor1);
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 30px;
    justify-content: space-between;
}

menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    font-size: 25px;
    font-weight: 600;
}

menu ul a {
    text-decoration: none;
    color: #fff;
}

.logo-menu {
    height: 180px;
}

.contorno {
    padding: 20px;
    border: 3px solid var(--cor4);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.contorno:hover {
    background-color: var(--cor4);
}

.card {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.13);
    background-color: white;
    width: 470px;
    height: 600px;
}

.card-body {
    padding: 60px 20px 60px 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.text-field {
    padding-block: 10px;
    text-align: center;
    margin-block: 10px;
}

.text-field input {
    border: 0px solid;
    border-bottom: 1px solid var(--cor4);
    width: 400px;
    height: 40px;
    font-size: 16px;
}

.submit-button {
    width: 300px;
    height: 40px;
    margin: 40px auto 60px auto;
    border-radius: 10px;
    border: 0px solid;
    background-color: var(--cor4);
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.submit-button:hover {
    box-shadow: 0px 0px 2px 2px var(--cor4);
}

.adicionar {
    margin: 10px 0px 10px 0px;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(34, 122, 34);
    color: white;
    border: 0px solid;
}

.adicionar:hover {
    box-shadow: 0px 0px 2px 2px var(--cor1);
}

.title {
    margin: auto;
    margin-bottom: 20px;
}

.error_messages {
    color: rgb(75, 0, 0);
    background-color: rgb(189, 106, 106);
    padding: 10px;
}

.hidden {
    display: none;
}

.itens {
    margin: auto;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    row-gap: 30px;
    justify-content: space-around;
    margin-top: 20px;
    list-style-type: none;
}

.item {
    background-color: white;
    height: 100%;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.226);
    border-radius: 10px;
}

.item img {
    width: 100%;
    height: 50%;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.item img:active {
    transform: scale(3);
    position: relative;
    z-index: 10;
}

.item ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.info {
    text-align: center;
}
.info h2 {
    font-size: 20px;
}

.entrega {
    font-weight: bolder;
    font-size: 13px;
}

.info {
    height: 100px;
    background-color: white;
    padding: 20px;
    display: grid;
    justify-content: center;
    gap: 20px;
}

.info ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.info button {
    padding: 10px;
    border: 0px solid;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bolder;
}

.devolucao {
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    border: 0px solid;
    border-radius: 10px;
}

.devolucao:hover {
    box-shadow: 0px 0px 2px 2px var(--cor1);
}

button {
    cursor: pointer;
}

.burguer-menu {
    width: 60px;
    padding: 10px;
    background-color: #2c5724;
    border-radius: 10px;
}

.burguer-menu:hover {
    background-color: #24471e;
}

@media screen and (max-width: 864px) {
    main {
        flex-grow: 1;
    }

    menu {
        flex-direction: column;
        height: auto;
        padding: 30px;
    }

    menu ul {
        margin-top: 20px;
        flex-direction: column;
        gap: 30px;
    }

    .itens {
        display: flex;
        flex-direction: column;
    }

    .item img {
        height: 300px;
    }

    .item img:active {
        transform: scale(1.5);
    }
}

.info-devolvido {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 17px;

    text-align: center;
}

.remover {
    background-color: red;
    color: white;
}
