:root {
    --cor1: #397a2d;
    --cor2: #feaa1a;
    --cor3: #fccc42;
    --cor4: #b36a26;
    --cor5: #c73527;
    --fonte-padrao: ;
}

menu {
    background-color: var(--cor1);
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 30px;
    justify-content: space-between;
}

menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 500px;
    font-size: 30px;
}

menu ul a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.logo-menu {
    height: 190px;
}
