:root {
    --cor1: #397a2d;
    --cor2: #feaa1a;
    --cor3: #fccc42;
    --cor4: #b36a26;
    --cor5: #c73527;
    --fonte-padrao: ;
}

body {
    background-color: rgba(212, 212, 212, 0.616);
}

main {
    background-color: white;
    width: 70vw;
    height: 100vh;
    margin: auto;
    padding: 20px;
}

.card-main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0);
}

menu {
    background-color: var(--cor1);
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 30px;
    justify-content: space-between;
}

menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    font-size: 25px;
    font-weight: 600;
}

menu ul a {
    text-decoration: none;
    color: #fff;
}

.logo-menu {
    height: 180px;
}

.contorno {
    padding: 20px;
    border: 3px solid var(--cor4);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.contorno:hover {
    background-color: var(--cor4);
}

.card {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.13);
    background-color: white;
    width: 470px;
    height: 600px;
}

.card-body {
    padding: 60px 20px 60px 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.text-field {
    padding-block: 10px;
    text-align: center;
    margin-block: 10px;
}

.text-field input {
    border: 0px solid;
    border-bottom: 1px solid var(--cor4);
    width: 400px;
    height: 40px;
    font-size: 16px;
}

.submit-button {
    width: 300px;
    height: 40px;
    margin: 40px auto 60px auto;
    border-radius: 10px;
    border: 0px solid;
    background-color: var(--cor4);
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.submit-button:hover {
    box-shadow: 0px 0px 2px 2px var(--cor4);
}

.adicionar {
    margin: 10px 0px 10px 0px;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(34, 122, 34);
    color: white;
    border: 0px solid;
}

.title {
    margin: auto;
    margin-bottom: 20px;
}

.error_messages {
    color: rgb(75, 0, 0);
    background-color: rgb(189, 106, 106);
    padding: 10px;
}

.hidden {
    display: none;
}

.itens {
    margin: auto;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    row-gap: 30px;
    justify-content: space-evenly;
    margin-top: 20px;
    list-style-type: none;
}

.item {
    background-color: white;
    height: 375px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.226);
    border-radius: 10px;
}

.item img {
    width: 100%;
    height: 50%;
}

.info h2 {
    font-size: 17px;
}

.entrega {
    font-weight: bolder;
    font-size: 13px;
}

.info {
    height: 100px;
    background-color: white;
    padding: 20px;
    display: grid;
    justify-content: center;
    gap: 20px;
}

.info ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.info button {
    padding: 10px;
    border: 0px solid;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bolder;
}

.devolucao {
    background-color: var(--cor1);
    color: white;
}

.editar {
    background-color: var(--cor2);
    color: white;
}
